.App {
  text-align: center;
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-width: 600px;
}

.title{
  color: var(--orange-primary);
  position: absolute;
  top: 0;
  left: 20px;
}